BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> a89e3281be40

CREATE TABLE faculties (
    id SERIAL NOT NULL, 
    code VARCHAR(20) NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE UNIQUE INDEX ix_faculties_code ON faculties (code);

CREATE TABLE levels (
    id SERIAL NOT NULL, 
    code VARCHAR(10) NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    semester_count INTEGER NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_levels_semester_count_positive CHECK (semester_count > 0), 
    UNIQUE (name)
);

CREATE UNIQUE INDEX ix_levels_code ON levels (code);

INSERT INTO alembic_version (version_num) VALUES ('a89e3281be40') RETURNING alembic_version.version_num;

-- Running upgrade a89e3281be40 -> c2f1de7801f4

CREATE TABLE academic_years (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    name VARCHAR(20) NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE NOT NULL, 
    is_current BOOLEAN DEFAULT false NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_date_range CHECK (end_date > start_date), 
    CONSTRAINT uq_academic_years_name UNIQUE (name)
);

CREATE UNIQUE INDEX uq_current_academic_year ON academic_years (is_current) WHERE is_current = true;

CREATE TABLE courses (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    code VARCHAR(30) NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_courses_code UNIQUE (code)
);

CREATE TYPE term_type AS ENUM ('WINTER', 'SUMMER');

CREATE TABLE academic_terms (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    academic_year_id INTEGER NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    term_type term_type NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT valid_date_range CHECK (end_date > start_date), 
    FOREIGN KEY(academic_year_id) REFERENCES academic_years (id), 
    CONSTRAINT uq_academic_terms_year_type UNIQUE (academic_year_id, term_type)
);

CREATE TABLE study_programs (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    faculty_id INTEGER NOT NULL, 
    level_id INTEGER NOT NULL, 
    code VARCHAR(30) NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(faculty_id) REFERENCES faculties (id), 
    FOREIGN KEY(level_id) REFERENCES levels (id), 
    CONSTRAINT uq_study_programs_faculty_level_code UNIQUE (faculty_id, level_id, code)
);

CREATE TABLE program_semesters (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    study_program_id INTEGER NOT NULL, 
    semester_number SMALLINT NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT semester_number_positive CHECK (semester_number > 0), 
    FOREIGN KEY(study_program_id) REFERENCES study_programs (id), 
    CONSTRAINT uq_program_semesters_program_number UNIQUE (study_program_id, semester_number)
);

CREATE TABLE elective_groups (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    program_semester_id INTEGER NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    required_choices SMALLINT DEFAULT 1 NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT required_choices_positive CHECK (required_choices > 0), 
    FOREIGN KEY(program_semester_id) REFERENCES program_semesters (id), 
    CONSTRAINT uq_elective_groups_semester_name UNIQUE (program_semester_id, name)
);

CREATE TYPE course_type AS ENUM ('MANDATORY', 'ELECTIVE');

CREATE TABLE curriculum_courses (
    id INTEGER GENERATED BY DEFAULT AS IDENTITY, 
    program_semester_id INTEGER NOT NULL, 
    course_id INTEGER NOT NULL, 
    course_type course_type NOT NULL, 
    elective_group_id INTEGER, 
    ects NUMERIC(4, 1) NOT NULL, 
    lecture_periods_per_week SMALLINT DEFAULT 0 NOT NULL, 
    numerical_periods_per_week SMALLINT DEFAULT 0 NOT NULL, 
    laboratory_periods_per_week SMALLINT DEFAULT 0 NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT weekly_periods_positive CHECK ((lecture_periods_per_week + numerical_periods_per_week + laboratory_periods_per_week) > 0), 
    CONSTRAINT ects_positive CHECK (ects > 0), 
    CONSTRAINT laboratory_periods_nonnegative CHECK (laboratory_periods_per_week >= 0), 
    CONSTRAINT lecture_periods_nonnegative CHECK (lecture_periods_per_week >= 0), 
    CONSTRAINT numerical_periods_nonnegative CHECK (numerical_periods_per_week >= 0), 
    FOREIGN KEY(course_id) REFERENCES courses (id), 
    FOREIGN KEY(elective_group_id) REFERENCES elective_groups (id), 
    FOREIGN KEY(program_semester_id) REFERENCES program_semesters (id), 
    CONSTRAINT uq_curriculum_courses_semester_course UNIQUE (program_semester_id, course_id)
);

ALTER TABLE faculties ALTER COLUMN id;

ALTER TABLE faculties ALTER COLUMN code TYPE VARCHAR(30);

ALTER TABLE faculties DROP CONSTRAINT faculties_name_key;

DROP INDEX ix_faculties_code;

ALTER TABLE faculties ADD CONSTRAINT uq_faculties_code UNIQUE (code);

ALTER TABLE faculties DROP COLUMN created_at;

ALTER TABLE levels ALTER COLUMN id;

ALTER TABLE levels ALTER COLUMN code TYPE VARCHAR(20);

ALTER TABLE levels ALTER COLUMN name TYPE VARCHAR(100);

ALTER TABLE levels ALTER COLUMN semester_count TYPE SMALLINT;

DROP INDEX ix_levels_code;

ALTER TABLE levels DROP CONSTRAINT levels_name_key;

ALTER TABLE levels ADD CONSTRAINT uq_levels_code UNIQUE (code);

ALTER TABLE levels DROP CONSTRAINT ck_levels_semester_count_positive;

ALTER TABLE levels ADD CONSTRAINT semester_count_positive CHECK (semester_count > 0);

ALTER TABLE levels DROP COLUMN created_at;

UPDATE alembic_version SET version_num='c2f1de7801f4' WHERE alembic_version.version_num = 'a89e3281be40';

COMMIT;

